
<ul class="row list-services-block">
	<li class="col-md-3">
		<a href="#/web/Record.html">
			<i class="fa fa-wechat"></i>
			<h4>沟通记录</h4>
			<p>content content content content content</p>
		</a>
	</li>
	<li class="col-md-3">
		<a href="#/web/Chart.html">
			<i class="fa fa-bar-chart-o"></i>
			<h4>报表分析</h4>
			<p>content content content content content</p>
		</a>
	</li>
	<li class="col-md-3">
		<a href="#/web/Track.html">
			<i class="fa fa-crosshairs"></i>
			<h4>事项跟踪</h4>
			<p>content content content content content</p>
		</a>
	</li>
	<li class="col-md-3">
		<a href="#/web/Database.html">
			<i class="fa fa-database"></i>
			<h4>基础数据</h4>
			<p>content content content content content</p>
		</a>
	</li>
</ul>
