<div class="input-group">
    <span class="input-group-addon">
        <i class="glyphicon glyphicon-user"></i>
    </span>

    <input
        type="text"
        class="form-control"
        ng-model="$model"
        ng-disabled="$disabled"
        placeholder="{{$placeholder}}"
        data-min-length="0"
        data-html="1"
        data-template="{{$dropTemplate}}"
        bs-options="$item as $item.label for $item in $getter($viewValue)"
        bs-typeahead>

    <span class="input-group-btn" ng-if="$searchButton">
        <button class="btn btn-default"
            type="button"
            ng-disabled="$disabled"
            ng-click="$open()">
            <i class="fa fa-search"></i>
        </button>
    </span>
</div>