<div class="col-md-9">
    <div ng-show="$checkAll=='true'" class="checkAll {{$inline=='true'?'checkbox-inline':'checkbox'}}">
		<label>
			<input
				type="checkbox"
				name="{{$name}}"
				ng-model="$checks.checkAll"
				ng-click="checkAll()"
        		ng-disabled="$disabled"
				>
			<span>全部</span>
		</label>
	</div>
    <div class="{{$inline=='true'?'checkbox-inline':'checkbox'}}" ng-repeat="data in $data">
		<label>
			<input
				type="checkbox"
				name="{{$name}}"
				ng-model="$checks.items[$index]"
				ng-click="checkItem();"
        		ng-disabled="$disabled"
				>
			<span ng-bind="data.label"></span>
		</label>
	</div>
</div>