<div style="color:#fff;">
	<div class="banner" ng-if="$state.includes('web.Dashboard')">
		<img src="upload/bg.jpg" alt="" style="min-width:100%; min-height: 100%; float: right;">
	</div>
	<ng-search ng-if="$state.includes('web.Dashboard')||$state.includes('web.Search')"
		data-placeholder="请输入关键字"
		data-min-length="0"
		data-auto-select="true"
		data-container="body"
		data-options="data for data in $data"
		ng-href="web.Search"
		ng-data="states"
		ng-model="selectedState"
		></ng-search>
</div>

