.font-green-sharp {
  color: #4DB3A2 !important;
}
.font-red-haze {
    color: #f36a5a !important;
}
.font-blue-sharp {
    color: #5C9BD1 !important;
}
.font-purple-soft {
    color: #8877a9 !important;
}