<form class="form-horizontal form-horizontal-box">
    <div class="form-group col-md-4">
        <label class="col-md-3 control-label">部门</label>
        <ng-input-search class="col-md-9"
            placeholder="部门名称/代码"
            data-btn-icon-cls="fa fa-search"
            />
        <!-- 
            placeholder="部门名称/代码"
            data-btn-icon-cls="fa fa-search"
            data-btn-text="search"
         -->
    </div>
    <div class="form-group col-md-4">
        <label class="col-md-3 control-label">日期</label>
        <div class="input-group col-md-9">
            <input type="text" class="form-control"
                placeholder="开始日期"
                data-placement="auto"
                data-autoclose="1"
                data-date-format="yyyy-MM-dd"
                data-container="body"
                data-max-date="{{untilDate}}"
                ng-model="fromDate"
                bs-datepicker>
            <span class="input-group-addon">至</span>
            <input type="text" class="form-control"
                placeholder="结束日期"
                data-placement="auto"
                data-autoclose="1"
                data-date-format="yyyy-MM-dd"
                data-container="body"
                data-min-date="{{fromDate}}"
                ng-model="untilDate"
                placement="right"
                bs-datepicker>
        </div>
    </div>
    <div class="form-group col-md-4">
        <label class="col-md-3 control-label">状态</label>
        <button type="button" class="btn btn-default"
            ng-model="forms.state"
            data-html="1"
            data-toggle="true"
            bs-options="state.value as state.label for state in states"
            bs-select>
            Action <span class="caret"></span>
        </button>
    </div>
    <div class="col-md-12" style="text-align: center;">
        <button type="submit" class="btn btn-success">搜索</button>
        <button type="reset" class="btn btn-default">重置</button>
    </div>
</form>
<div class="clearfix"></div>

<div class="table-toolbar">
    <div class="row">
        <div class="col-md-6">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">全部</a></li>
                <li role="presentation"><a href="#">离职/降职</a></li>
                <li role="presentation"><a href="#">备份</a></li>
            </ul>
        </div>
        <div class="col-md-6 ">
            <div class="pull-right">
                <!-- <div class="btn-group">
                    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        导出 <i class="glyphicon glyphicon-cloud-download"></i>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li ng-click="_export(0)">
                            <a>导出记录 </a>
                        </li>
                        <li ng-click="_export(1)">
                            <a>导出数据 </a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button class="btn btn-sucess" ng-click="_refresh()">
                        刷新 <i class="glyphicon glyphicon-refresh"></i>
                    </button>
                </div> -->
                <div class="btn-group">
                    <button class="btn btn-success" ng-click="_refresh()">
                        导出数据 <i class="glyphicon glyphicon-cloud-download"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-info" ng-click="_refresh()">
                        导出报告 <i class="glyphicon glyphicon-cloud-download"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="table-lock-group">
    <div class="north">
        <!--  -->
        <!--  -->
    </div>
    <div class="east">
        <!--  -->
        <!--  -->
    </div>
    <div class="center table-responsive">
        <!--  -->
        <table class="table table-striped table-hover"
            ng-table="tableParams"
            show-filter="false">
            <tr ng-repeat="data in $data">
                <td data-title="'序号'" style="text-align: center;">
                    <span ng-bind="(params.page()-1)*params.count()+$index+1"></span>
                </td>
                <td data-title="'操作'">
                    <button class="btn btn-default btn-sm"
                        ng-click="_view(data.id)"
                        data-trigger="hover"
                        data-type="success"
                        data-title="查看"
                        bs-tooltip>
                        <span class="glyphicon glyphicon-list-alt"></span>
                    </button>
                </td>
                <td data-title="'姓名'" style="text-align: center;" 
                    filter="{ label_1: 'text'}"
                    sortable="'label_1'">
                    <span ng-bind="data.label_1"></span>
                </td>
                <td data-title="'工号'" style="text-align: center;" 
                    filter="{ label_2: 'text'}"
                    sortable="'label_2'">
                    <span ng-bind="data.label_2"></span>
                </td>
                <td data-title="'类型'" style="text-align: center;" 
                    filter="{ label_3: 'text'}"
                    sortable="'label_3'">
                    <span ng-bind="data.label_3"></span>
                </td>
                <td data-title="'个人职级'" style="text-align: center;" 
                    filter="{ label_5: 'text'}"
                    sortable="'label_5'">
                    <span ng-bind="data.label_5"></span>
                </td>
                <td data-title="'职位'" style="text-align: center;" 
                    filter="{ label_6: 'text'}"
                    sortable="'label_6'">
                    <span ng-bind="data.label_6"></span>
                </td>
                <td data-title="'任命时间'"
                    filter="{ label_7: 'text'}"
                    sortable="'label_7'">
                    <span ng-bind="data.label_7"></span>
                </td>
                <td data-title="'近五年调度'" style="text-align: center;" 
                    filter="{ label_8: 'text'}"
                    sortable="'label_8'">
                    <ng-progress data-value-now="80" data-bar-style="progress-bar-danger"/>
                </td>
                <td data-title="'一级组织'" style="text-align: center;" 
                    filter="{ label_9: 'text'}"
                    sortable="'label_9'">
                    <span ng-bind="data.label_9"></span>
                </td>
                <td data-title="'入职时间'" style="text-align: center;" 
                    filter="{ label_10: 'text'}"
                    sortable="'label_10'">
                    <span ng-bind="data.label_10"></span>
                </td>
                <td data-title="'性别'" style="text-align: center;" 
                    filter="{ label_4: 'text'}"
                    sortable="'label_4'">
                    <span ng-bind="data.label_4"></span>
                </td>
                <td data-title="'年龄'" style="text-align: center;" 
                    filter="{ label_4: 'text'}"
                    sortable="'label_4'">
                    <span ng-bind="data.label_4"></span>
                </td>
                <td data-title="'国籍'" style="text-align: center;" 
                    filter="{ label_4: 'text'}"
                    sortable="'label_4'">
                    <span ng-bind="data.label_4"></span>
                </td>
                <td data-title="'工作地点'" style="text-align: center;" 
                    filter="{ label_4: 'text'}"
                    sortable="'label_4'">
                    <span ng-bind="data.label_4"></span>
                </td>
                <td data-title="'备注'" style="text-align: center;" 
                    filter="{ label_4: 'text'}"
                    sortable="'label_4'">
                    <span ng-bind="data.label_4"></span>
                </td>
            </tr>
        </table>
        <!--  -->
    </div>
    <div class="south">
        <!--  -->
        <table class="table table-striped table-hover"
            ng-table="tableParams"
            show-filter="false">
            <tr>
                <td></td>
            </tr>
        </table>
        <!--  -->
    </div>
    <div class="west">
        <!--  -->
        <table class="table table-striped table-hover"
            ng-table="tableParams"
            show-filter="false">
            <tr ng-repeat="data in $data">
                <td data-title="'序号'" style="text-align: center;">
                    <span ng-bind="(params.page()-1)*params.count()+$index+1"></span>
                </td>
                <td data-title="'操作'">
                    <button class="btn btn-default btn-sm"
                        ng-click="_view(data.id)"
                        data-type="success"
                        data-title="查看"
                        bs-tooltip>
                        <span class="glyphicon glyphicon-list-alt"></span>
                    </button>
                </td>
            </tr>
        </table>
        <!--  -->
    </div>
</div>
